
<section>
  <h2>About</h2>
  <div class="row">
    <% imageDetails.forEach(imageDetail => { %>
    <div class="col-md-4 col-sm-12">
      <div class="card my-2">
        <img src="<%= imageDetail.imageUrl %>" alt="Image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= imageDetail.author %></h5>
        </div>
      </div>
    </div>
       <% }); %>
         
  </div>
</section>

    
        
   



<!-- <img src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&&fm=jpg&w=400&fit=max" > -->
